@page "/"

<div class="row justify-content-center">
    <div class="col-10">
        <div class="row justify-content-center">
            <div class="col-3">
                <h1>ME - TAL</h1>
            </div><br/><br/>
            <div class="col-10">
                <p>
                    «ME-TAL» - це компанія, яка надає клієнтам широкий комплекс послуг та високий рівень обслуговування, пов’язаних з доставкою різноманітних вантажів будь-якої складності
                </p>
            </div>
        </div>
    </div>
</div>
